In [1]:
myset = {"red", "yellow", "green"}

In [2]:
#Create a Set:

thisset = {"red", "yellow", "green"}
print(thisset)

{'yellow', 'red', 'green'}

In [3]:
#Duplicates Not Allowed
#Sets cannot have two items with the same value.

thisset = {"red", "yellow", "green"}
print(thisset)

{'yellow', 'red', 'green'}

In [4]:
#True and 1 is considered the same value:

thisset = {"red", "yellow", "green", True, 1, 2}
print(thisset)

{True, 2, 'yellow', 'red', 'green'}

In [5]:
#False and 0 is considered the same value:

thisset = {"red", "yellow", "green", False, True, 0}
print(thisset)

{False, True, 'yellow', 'red', 'green'}

In [6]:
# Length of a Set
#To determine how many items a set has, use the len() function.

thisset = {"red", "yellow", "green"}
print(len(thisset))

3

In [8]:
##Set Items - Data Types
#Set items can be of any data type:

set1 = {"red", "yellow", "green"}
print(set1)

set2 = {1, 5, 7, 9, 3}
print(set2)

set3 = {True, False, False}
print(set3)

{'yellow', 'red', 'green'}
{1, 3, 5, 7, 9}
{False, True}

In [9]:
#A set can contain different data types:

set1 = {"pqr", 64, True, 50, "female"}
print(set1)

{64, True, 50, 'female', 'pqr'}

In [10]:
#type()
myset = {"red", "yellow", "green"}
print(type(myset))

<class 'set'>

In [11]:
#The set() Constructor
#It is also possible to use the set() constructor to make a set.

thisset = set(("red", "yellow", "green"))
print(thisset)
# Note: the set list is unordered, so the result will display the items in a random order.

{'yellow', 'red', 'green'}

In [12]:
#Access Items
thisset = {"red", "yellow", "green"}

for x in thisset:
  print(x)

yellow
red
green

In [13]:
#Check if "yellow" is present in the set:

thisset = {"red", "yellow", "green"}
print("yellow" not in thisset)

False

In [14]:
#Add Items
#To add one item to a set use the add() method.

thisset = {"red", "yellow", "green"}
thisset.add("orange")
print(thisset)

{'yellow', 'red', 'green', 'orange'}

In [16]:
#Add Sets
#To add items from another set into the current set, use the update() method.

thisset = {"red", "yellow", "green"}
tropical = {"purple", "pink", "blue"}
thisset.update(tropical)
print(thisset)

{'pink', 'blue', 'yellow', 'red', 'purple', 'green'}

In [17]:
#Add Any Iterable
#The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

thisset = {"red", "yellow", "green"}
mylist = ["black", "orange"]
thisset.update(mylist)
print(thisset)

{'yellow', 'red', 'green', 'black', 'orange'}

In [18]:
#Remove Item
#To remove an item in a set, use the remove(), or the discard() method.

thisset = {"red", "yellow", "green"}
thisset.remove("yellow")
print(thisset)

{'red', 'green'}

In [19]:
#Remove "banana" by using the discard() method:
thisset = {"red", "yellow", "green"}
thisset.discard("yellow")
print(thisset)

{'red', 'green'}

In [20]:
#Remove a random item by using the pop() method:

thisset = {"red", "yellow", "green"}
x = thisset.pop()
print(x)           #removed item
print(thisset)     #the set after removal

yellow
{'red', 'green'}

In [21]:
#The clear() method empties the set:

thisset = {"red", "yellow", "green"}
thisset.clear()
print(thisset)

set()

In [23]:
#Loop Items
#You can loop through the set items by using a for loop:

thisset = {"red", "yellow", "green"}
for x in thisset:
  print(x)

yellow
red
green

In [ ]:
#Join Sets
The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

In [24]:
#Union
#The union() method returns a new set with all items from both sets.

set1 = {"p", "q", "r"}
set2 = {10, 20, 30}

set3 = set1.union(set2)
print(set3)

{20, 'r', 10, 'p', 30, 'q'}

In [25]:
#You can use the | operator instead of the union() method, and you will get the same result.
set1 = {"p", "q", "r"}
set2 = {10, 20, 30}

set3 = set1 | set2
print(set3)

{20, 'r', 10, 'p', 30, 'q'}

In [26]:
#Join Multiple Sets
#When using a method, just add more sets in the parentheses, separated by commas:

set1 = {"p", "q", "r"}
set2 = {10, 20, 30}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{'Elena', 'apple', 'bananas', 10, 'cherry', 'John', 20, 'r', 'p', 30, 'q'}

In [27]:
#When using the | operator, separate the sets with more | operators:
set1 = {"p", "q", "r"}
set2 = {10, 20, 30}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{'Elena', 'apple', 'bananas', 10, 'cherry', 'John', 20, 'r', 'p', 30, 'q'}

In [28]:
#Join a Set and a Tuple
#The union() method allows you to join a set with other data types, like lists or tuples.

x = {"p", "q", "r"}
y = (10, 20, 30)

z = x.union(y)
print(z)

{10, 20, 'r', 'p', 30, 'q'}

In [29]:
#Update
#The update() method inserts all items from one set into another.
#The update() changes the original set, and does not return a new set.

set1 = {"p", "q" , "r"}
set2 = {10, 20, 30}

set1.update(set2)
print(set1)

{20, 'r', 10, 'p', 30, 'q'}

In [31]:
#Intersection
#The intersection() method will return a new set, that only contains the items that are present in both sets.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [32]:
#You can use the & operator instead of the intersection() method, and you will get the same result.
set1 = {"apple", "banana" , "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [33]:
#The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)
print(set1)

{'apple'}

In [35]:
#The values True and 1 are considered the same value. The same goes for False and 0.

set1 = {"apple", 1, "banana", 0, "cherry"}
set2 = {False, "google", "microsoft", "apple", True}

set3 = set1.intersection(set2)
print(set3)

{False, True, 'apple'}

In [36]:
#Difference
#The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.difference(set2)
print(set3)

{'banana', 'cherry'}

In [37]:
#You can use the - operator instead of the difference() method, and you will get the same result.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

In [38]:
#The difference_update() method will also keep the items from the first set that are not in the other set,
#but it will change the original set instead of returning a new set.

set1 = {"apple", "banana" , "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.difference_update(set2)
print(set1)

{'banana', 'cherry'}

In [39]:
#Symmetric Differences
#The symmetric_difference() method will keep only the elements that are NOT present in both sets.

set1 = {"apple", "banana" , "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.symmetric_difference(set2)
print(set3)

{'banana', 'cherry', 'google', 'microsoft'}

In [40]:
#You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 ^ set2
print(set3)

{'banana', 'cherry', 'google', 'microsoft'}

In [41]:
#The symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

set1 = {"apple", "banana" , "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.symmetric_difference_update(set2)
print(set1)

{'banana', 'cherry', 'google', 'microsoft'}

In [ ]:
#Set Methods

Method                                                   Shortcut Description

add()	         	                                Adds an element to the set
clear()	        	                                Removes all the elements from the set
copy()	 	                                        Returns a copy of the set
difference()	                    -	            Returns a set containing the difference between two or more sets
difference_update()              	-	            Removes the items in this set that are also included in another, specified set
discard()	                                      	Remove the specified item
intersection()      	            &               Returns a set, that is the intersection of two other sets
intersection_update()           	&=	            Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	 	                                Returns whether two sets have a intersection or not
issubset()	                       <=	            Returns whether another set contains this set or not
                                	<	            Returns whether all items in this set is present in other, specified set(s)
issuperset()        	           >=	            Returns whether this set contains another set or not
 	                                >	            Returns whether all items in other, specified set(s) is present in this set
pop()	                            	            Removes an element from the set
remove()	                         	            Removes the specified element
symmetric_difference()          	^               Returns a set with the symmetric differences of two sets
symmetric_difference_update()	   ^=	            Inserts the symmetric differences from this set and another
union()                         	|	            Return a set containing the union of sets
update()                         	|=      	    Update the set with the union of this set and others