In [3]:
mytuple = ("red", "yellow", "green")

In [4]:
# tupple creation 
this_tuple = ("red", "yellow", "green")
print(this_tuple)

('red', 'yellow', 'green')

In [8]:
type(this_tuple)

tuple

In [11]:
# empty tuple
this_tuple = ()
this_tuple

()

In [14]:
#tuple of integers
this_tuple = (1,2,3)
this_tuple

(1, 2, 3)

In [15]:
#tuples allow duplicate value
this_tuple = ("red", "yellow", "green","red", "yellow")
print(this_tuple)

('red', 'yellow', 'green', 'red', 'yellow')

In [17]:
#tuple length 
#to determin how many items a tuple has, use the len() function :
this_tuple = tuple(("red", "yellow", "green"))
print(len(this_tuple))

3

In [19]:
#create tuple with one item 
#To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

this_tuple = ("red",)
print(type(this_tuple))

#NOT a tuple
this_tuple = ("red")
print(type(this_tuple))

<class 'tuple'>
<class 'str'>

In [23]:
#data type
#Tuple items can be of any data type (String, int and boolean)

tuple1 = ("red", "yellow", "green")
print(tuple1)

tuple2 = (1, 5, 7, 9, 3)
print(tuple2)

tuple3 = (True, False, False)
print(tuple3)

('red', 'yellow', 'green')
(1, 5, 7, 9, 3)
(True, False, False)

In [21]:
#A tuple can contain different data types
tuple1 = ("pqr", 60, True, 80, "female")
print(tuple1)

('pqr', 60, True, 80, 'female')

In [24]:
#The tuple() Constructor
this_tuple = tuple(("red", "yellow", "green")) # note the double round-brackets
print(this_tuple)

('red', 'yellow', 'green')

In [25]:
#Access Tuple Items
#You can access tuple items by referring to the index number, inside square brackets:
this_tuple = ("red", "yellow", "green")
print(this_tuple[2])

green

In [29]:
#Negative Indexing
#the index of -1 refers to the last item, -2 refers to the second last item etc.

this_tuple = ("red", "yellow", "green")
print(this_tuple[-2])

yellow

In [32]:
#Range of Indexes
#You can specify a range of indexes by specifying where to start and where to end the range.
this_tuple = ("p","q","r","a","i","o","u","s","t")
this_tuple[:]

('p', 'q', 'r', 'a', 'i', 'o', 'u', 's', 't')

In [33]:
#element 3rd to 5th    # start:include      end:exclude
print(this_tuple[3:6])

('a', 'i', 'o')

In [34]:
#element 6th to end
print(this_tuple[6:])

('u', 's', 't')

In [35]:
#element begining to end 
print(this_tuple[:])

('p', 'q', 'r', 'a', 'i', 'o', 'u', 's', 't')

In [36]:
#the items from the beginning to, but NOT included, "i":
this_tuple = ("p","q","r","a","i","o","u","s","t")
print(this_tuple[:4])

('p', 'q', 'r', 'a')

In [37]:
#range of negetive index
#the items from index -4 (included) to index -1 (excluded)
this_tuple = ("p","q","r","a","i","o","u","s","t")
print(this_tuple[-4:-1])

('o', 'u', 's')

In [ ]:
#Negative indexing means starting from the end of the tuple.

#This example returns the items from index -4 (included) to index -1 (excluded)

#Remember that the last item has the index -1,

In [38]:
#Check if Item Exists
#To determine if a specified item is present in a tuple use the in keyword:
this_tuple = ("red","yellow","blue")
if "red" in this_tuple:
  print("Yes, 'red' is in the colours tuple")

Yes, 'red' is in the colours tuple

In [39]:
#Change Tuple Values
#You can convert the tuple into a list, change the list, and convert the list back into a tuple.

x = ("red","yellow","blue")
y = list(x)
y[1] = "green"
x = tuple(y)
print(x)

('red', 'green', 'blue')

In [40]:
#Add Items
#Convert into a list: you can convert it into a list, add your item(s), and convert it back into a tuple.

this_tuple = ("red","yellow","blue")
y = list(this_tuple)
y.append("orange")
this_tuple = tuple(y)
print(this_tuple)

('red', 'yellow', 'blue', 'orange')

In [43]:
# Add tuple to a tuple. 
#You are allowed to add tuples to tuples, so if you want to add one item,create a new tuple with the item(s), and add it to the existing tuple:

this_tuple = ("red","yellow","blue")
y = ("orange",)
this_tuple += y
print(this_tuple)

('red', 'yellow', 'blue', 'orange')

In [44]:
#Remove Items
#Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

this_tuple = ("red","yellow","blue")
y = list(this_tuple)
y.remove("red")
this_tuple = tuple(y)
print(this_tuple)

('yellow', 'blue')

In [47]:
#Unpacking a Tuple
#When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')

In [48]:
#we are also allowed to extract the values back into variables. This is called "unpacking":

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [49]:
#Using Asterisk*
#If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [50]:
#Loop Through a Tuple
#You can loop through the tuple items by using a for loop.

this_tuple = ("apple", "banana", "cherry")
for x in this_tuple:
  print(x)

apple
banana
cherry

In [51]:
#Loop Through the Index Numbers
#You can also loop through the tuple items by referring to their index number.

this_tuple = ("apple", "banana", "cherry")
for i in range(len(this_tuple)):
  print(this_tuple[i])

apple
banana
cherry

In [53]:
#Using a While Loop
#You can loop through the tuple items by using a while loop.

this_tuple = ("apple", "banana", "cherry")
i = 0
while i < len(this_tuple):
  print(this_tuple[i])
  i = i + 1

apple
banana
cherry

In [54]:
#Join Two Tuples
#To join two or more tuples you can use the + operator:

tuple1 = ("p", "q" , "r")
tuple2 = (10, 20, 30)

tuple3 = tuple1 + tuple2
print(tuple3)

('p', 'q', 'r', 10, 20, 30)

In [55]:
#Multiply Tuples
#If you want to multiply the content of a tuple a given number of times, you can use the * operator:

colour = ("red", "yellow", "blue")
this_tuple = colours * 2

print(this_tuple)

('red', 'yellow', 'blue', 'red', 'yellow', 'blue')

In [ ]:
#Tuple Methods
#Python has two built-in methods that you can use on tuples.

Method              Description

count()         	Returns the number of times a specified value occurs in a tuple
index()	            Searches the tuple for a specified value and returns the position of where it was found