In [1]:
#Python Strings
#You can use double or single quotes:

print("Hello")
print('Hello')

Hello
Hello

In [2]:
#Quotes Inside Quotes
#You can use quotes inside a string, as long as they don't match the quotes surrounding the string:

print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [3]:
#Assign String to a Variable
#Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

x = "world"
print(x)

world

In [4]:
#Multiline Strings
#You can assign a multiline string to a variable by using three quotes:

x = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(x)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [5]:
#Or three single quotes:


x = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(x)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [6]:
#Strings are Arrays
x = "Hello, World!"
print(x[2])

l

In [7]:
#Looping Through a String
for x in "banana":
  print(x)

b
a
n
a
n
a

In [8]:
#String Length
#To get the length of a string, use the len() function.

x = "Hello, World!"
print(len(x))

13

In [9]:
#Check String
#To check if a certain phrase or character is present in a string, we can use the keyword in.

txt = "The best things in life are free!"
print("free" in txt)

True

In [10]:
#Use it in an if statement:

txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [11]:
#Check if NOT
#To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [12]:
#Use it in an if statement:

txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [14]:
#Slicing
#You can return a range of characters by using the slice syntax.

b = "Hello, World!"
print(b[2:5])

llo

In [15]:
#Slice From the Start
b = "Hello, World!"
print(b[:5])

Hello

In [16]:
#Slice To the End
b = "Hello, World!"
print(b[2:])

llo, World!

In [17]:
#Negative Indexing
#Use negative indexes to start the slice from the end of the string:

b = "Hello, World!"
print(b[-5:-2])

orl

In [18]:
#Upper Case

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [19]:
#Lower Case

a = "Hello, World!"
print(a.lower())

hello, world!

In [20]:
#Remove Whitespace
#Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

x = " Hello, World! "
print(x.strip()) # returns "Hello, World!"

Hello, World!

In [21]:
#Replace String

a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [22]:
#Split String
#The split() method returns a list where the text between the specified separator becomes the list items.

a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [23]:
#String Concatenation
#To concatenate, or combine, two strings you can use the + operator.

a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [24]:
#To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [ ]:
#F-Strings
age = 36
txt = f"My name is John, I am {age}"
print(txt)

In [27]:
#Placeholders and Modifiers
#A placeholder can contain variables, operations, functions, and modifiers to format the value.

price = 60
txt = f"The price is {price} dollars"
print(txt)

The price is 60 dollars

In [28]:
#A modifier is included by adding a colon : followed by a legal formatting type, like .2f which means fixed point number with 2 decimals:
price = 60
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 60.00 dollars

In [29]:
#A placeholder can contain Python code, like math operations:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [30]:
#Escape Character
#To fix this problem, use the escape character \":
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [31]:
#Escape Characters

txt = 'It\'s alright.'
print(txt)

It's alright.

In [32]:
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [33]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [34]:
txt = "Hello\rWorld!"
print(txt)

World!

In [35]:
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [36]:
#This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

HelloWorld!

In [37]:
#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [38]:
#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello